fastapi
uvicorn
pdfplumber
pymupdf
python-multipart
pillow
requests
numpy
reportlab
torch
torchvision
torchaudio
diffusers
transformers
accelerate
safetensors
controlnet_aux
opencv-python
matplotlib
moviepy
imageio
imageio-ffmpeg
python-dotenv
